<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Porterhouse</key>
	<array>
		<string>40 $</string>
	</array>
	<key>T-Bone</key>
	<array>
		<string>20 $</string>
	</array>
	<key>Top Sirloin</key>
	<array>
		<string>35 $</string>
	</array>
	<key>Tri-Tip</key>
	<array>
		<string>60 $</string>
	</array>
	<key>Flank</key>
	<array>
		<string>54 $</string>
	</array>
</dict>
</plist>
